@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ReadingRepo.Pages.Books.Book BookId=@Guid.Parse("C7882C3F-98DC-4553-9835-65872CF9D3A4") />