@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ReadingRepo.Pages.Books.Book BookId=@Guid.Parse("72E54D7D-20A7-4A7A-8795-DF77C6F48FEE") />